<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= favicon %>">
    <link rel="stylesheet" href="<%= css %>">
    <%- newrelic %>
</head>
<body>
    <div id="root">
        <p class="description">Tic Tac Toe App</p>
    </div>
    <script type="text/javascript" src="<%= main %>"></script>
</body>
</html>
